<link rel="stylesheet" href="css/mystyle.css">
<div class="abg">
    <div class="aby">
        <h1>About Us</h1>
        <p>Learn more about Me.</p>
    </div>
    <div class="c d-flex">
        <div class="c1">
           <h1>Skills</h1>
           <p>Cooking</p>
           <p>Eating</p>
        </div>
        <div class="c2">
           <h1>Hobbies</h1>
           <p>Playing Softball</p>
           <p>Watcing Movies</p>
        </div>
        <div class="c3">
            <h1>Talent</h1>
            <p>Dancing</p>
            <p>Singing</p>
        </div>
    </div>
</div>
