<link rel="stylesheet" href="css/mystyle.css">
<div class="cbg">
    <div class="cby">
        <h1>Contact</h1>
    </div>
    <div class="row">
        <div class="col-6" style="background-color: black; color: yellow;">
         <h1>Facebook</h1>
         <p>https://www.facebook.com/louellajane.baslao.20</p>
         <img src="https://i.pinimg.com/474x/fd/93/f0/fd93f02de56410cf1a1a233e9d2f711e.jpg" alt="" class="ljimg">
        </div>
        <div class="col-6" style="background-color: black; color: yellow;">
         <h1>Gmail</h1>
         <p>louellajanebaslao@gmail.com</p>
         <img src="https://i.pinimg.com/474x/c3/83/aa/c383aac9b5c231365451910306c6a341.jpg" alt="" class="ljimg">
        </div>
     </div>
</div>