<link rel="stylesheet" href="css/mystyle.css">
<div class="bg">
<div class="by">
<img src="https://scontent.fmnl9-4.fna.fbcdn.net/v/t39.30808-6/385256034_646124124326460_3654225646573865828_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=a73e89&_nc_eui2=AeFJ6wQxieRPp2_toht5ABLMgTYN2fJbRbmBNg3Z8ltFueB72Zs_WsKLJTEpMH-BrFwo7m6sAjkT_lZZtVQTJJU1&_nc_ohc=lt0dHRttujIAX-LEG7C&_nc_ht=scontent.fmnl9-4.fna&oh=00_AfCSaUYrhBPAwbOGxOHOPkZVJber1DrHRZcc-mQGLA9IVQ&oe=656E9725" alt="">
<h1 class="cliff-h1">Welcome to the Home Page</h1>
<p>This is the home view of the SPA.</p>
</div>
</div>